{% extends "base.twig" %}

{% block content %}

<h1 class="py-3">Archive</h1>

{% for post in posts %}

{{ include('parts/news-teaser.twig') }}

{% endfor %}

{{ include('parts/pagination.twig') }}

<div class="container py-5 my-5"></div>

{% endblock %}