{% extends "base.twig" %}

{% block content %}

<div class="container-fluid bg-light">
    <div class="container py-3">
        <div class="row text-info">
            <div class="col border border-danger">
                Column
            </div>
            <div class="col border border-success">
                Column
            </div>
            <div class="col border border-dark">
                Column
            </div>
        </div>
    </div>
</div>

<h1>Hello from page.twig - {{ post.title }}</h1>

{% endblock %}